p{
    color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
}
.boldclass{
    font-weight: bold;
}
.italicclass{
    font-style: italic;
}
.colorclass{
    color: crimson;
}